telegram_key: no_key
reply_tech_link: url
nametrigger:
  triggers:
    - usernames: []
      chance:
      reply: 
time_zone: Europe/Moscow
birthdays:
  username1: 2006-01-02
dupe_ignored_domains:
  - twitch.tv
  - www.twitch.tv
twitch_api_key: no_key
twitch_streams:
  - twitch_username
openai_api_key: no_key
